.container {
  width: 100%;
  padding-right: var(--size-2);
  padding-left: var(--size-2);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 50rem) {
    padding-right: var(--size-5);
    padding-left: var(--size-5);
    max-width: 65rem;
  }
}

.table {
  display: table;

  &-header-group {
    display: table-header-group;
    background-color: var(--surface-2);
  }

  &-row-group {
    display: table-row-group;
  }

  &-row {
    display: table-row;
  }

  &-cell-header {
    display: table-cell;
    padding: var(--size-2) 0 var(--size-2) var(--size-3);
    font-size: var(--font-size-3);
    font-weight: bold;
    border-bottom: 1px solid var(--gray-5); 
  }

  &-cell-body {
    display: table-cell;
    padding: var(--size-2) 0 var(--size-2) var(--size-3);
    border-bottom: 1px solid var(--gray-5); 
  }
}

@media screen and (min-width: 50rem) {
  .modal__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}